@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #a2a2a2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style: none;
  color: #222;
}

ol {
  list-style: decimal;
  margin: 1.5%;
  margin-bottom: 0.75%;
  color: #222;
}

table {
  color: #222;
  margin: auto;
}

.back_to_top {
  color: #2cc107;
  position: fixed;
  bottom: 0.5%;
  right: 5%;
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.back_to_top:hover, .back_to_top:focus {
  opacity: 1;
  transition: opacity 0.3s;
}

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;
}
#overlay img {
  margin-top: 7%;
  border: 3px solid #2cc107;
  border-radius: 0.75%;
  height: 80%;
  width: auto;
}

h1 {
  font-size: 5em;
  font-weight: 300;
  color: #f5ff00;
  letter-spacing: 0.1em;
  line-height: 0.8em;
  text-shadow: 2px 4px 2px #222;
  padding-bottom: 0.2em;
  text-align: center;
  animation: moveFromTop 1s ease-out;
}
h1 span {
  text-transform: uppercase;
}

h2 {
  font-size: 2.77778em;
  color: #2cc107;
  margin: 20px 0;
  text-align: center;
  text-shadow: 1px 2px 1px #222;
  line-height: 1em;
}

h3 {
  font-size: 1.2em;
  margin: 15px 0;
  color: #2cc107;
}

h4 {
  color: #222;
  margin: 20px 0;
}

h5 {
  font-size: 1em;
  margin: 15px 0;
  color: #222;
}

a {
  color: #a2a2a2;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

p {
  color: #222;
  margin: 0 auto;
  margin-bottom: 10px;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../img/theme-img.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 760px;
}

.header-text-box {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding-bottom: 50px;
}
.header-text-box p {
  color: #a2a2a2;
  font-size: 1.2em;
  line-height: 1.2em;
  max-width: 100%;
  margin-top: -50px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 30;
  margin-top: -83px;
}
.menu a {
  font-size: 1.4em;
  margin-right: 1em;
  text-shadow: 1px 2px 1px #222;
}
.menu a:hover, .menu a:focus {
  color: #d5d5d5;
  border-bottom: 2px solid #2cc107;
  padding-bottom: 0.5em;
}

.menu-icon {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  cursor: pointer;
  display: none;
  z-index: 100;
}
.menu-icon:hover, .menu-iconfocus {
  color: #d5d5d5;
}
.menu-icon i {
  font-size: 2.5em;
  text-shadow: 1px 2px 1px #222;
}

.contact {
  padding-top: 1em;
  font-size: 1.1em;
  line-height: 1.5em;
  text-shadow: 1px 2px 1px #222;
  max-width: 300px;
}
.contact i {
  margin-right: 8px;
  color: #2cc107;
}
.contact li, .contact a {
  list-style: none;
  padding: 5px 20px;
}
.contact li:hover, .contact li:focus, .contact a:hover, .contact a:focus {
  color: #d5d5d5;
}

.sub-menu {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding: 10px 0;
}
.sub-menu a, .sub-menu li {
  text-align: center;
  width: 25%;
  font-size: 1.15em;
  text-shadow: 1px 2px 1px #222;
  animation: moveFromBottom 1s ease-out;
  list-style: none;
}
.sub-menu a:hover, .sub-menu a:focus, .sub-menu li:hover, .sub-menu li:focus {
  color: #d5d5d5;
}

.sub-menu-dropdown {
  display: none;
  text-align: center;
}

.page-heading {
  margin-top: -145px;
  font-size: 1.7em;
  text-align: center;
  color: #f5ff00;
  animation: fadeIn 2s ease-out;
  margin-bottom: 0;
}

#menu-cover {
  background: #165f03;
  opacity: 0.95;
  font-size: 3em;
  line-height: 1.1em;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;
}
#menu-cover li {
  padding: 0.3em 0;
  border-bottom: solid 2px #2cc107;
}
#menu-cover li:last-child {
  border-bottom: none;
}
#menu-cover a:hover,
#menu-cover a:focus {
  color: #d5d5d5;
}

.content-container {
  margin: 0 auto;
  max-width: 65%;
}
.content-container li {
  margin-bottom: 10px;
}

section {
  padding: 10px;
  line-height: 35px;
  color: #a2a2a2;
  max-width: 100%;
  background-color: #fff;
}
section img {
  max-width: 360px;
  height: auto;
  float: left;
  margin: 10px 20px;
  box-shadow: 1px 1px 10px #222;
}
section ul {
  color: #222;
  list-style: disc;
  list-style: inside;
}
section a:hover,
section a:focus {
  text-decoration: underline;
  cursor: pointer;
}

section:nth-child(even) {
  background-color: #e6e6e6;
}

.contacts table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.contacts td:first-child {
  font-weight: bold;
}

.open-hours table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 1.6em;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.open-hours td {
  border: 3px solid #2cc107;
  padding: 10px;
}
.open-hours td:first-child {
  font-weight: bold;
}

.partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.partners img {
  width: 260px;
}

.map {
  max-width: 760px;
  margin-left: 5%;
  margin-bottom: 50px;
  border: #2cc107 solid 2px;
}

.inzerat-link {
  width: 250px;
  margin: 20px 5px;
  text-align: center;
  height: 320px;
  box-shadow: 2px 3px 10px #165f03;
  border-radius: 5px;
  transition: 0.2s;
}
.inzerat-link h3 {
  color: #222;
}
.inzerat-link:hover, .inzerat-link:focus {
  background: #e6e6e6;
  transition: 0.2s;
}

.adds-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 70px;
}

.detail_domu {
  font-size: 1.3em;
  margin-bottom: 20px;
}
.detail_domu tr:nth-child(odd) {
  background: #e6e6e6;
}

.gallery {
  width: 100%;
  margin-bottom: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.gallery img {
  width: 250px;
  height: auto;
  margin: 5px;
  opacity: 0.9;
  border-radius: 2px;
  box-shadow: 2px 2px 3px #165f03;
}
.gallery img:hover, .gallery img:focus {
  opacity: 1;
  transition: 0.5s;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/house-on-grass.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  max-height: 40vh;
  color: #a2a2a2;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer li {
  margin: 15px;
  color: #a2a2a2;
}
footer li:last-child {
  margin-bottom: 5;
}
footer a:hover,
footer a:focus {
  color: #e6e6e6;
  border-bottom: 2px solid #2cc107;
  padding-bottom: 5px;
}

@media (max-width: 960px) {
  body {
    font-size: 1em;
  }

  .sub-menu {
    width: 85%;
  }
  .sub-menu a {
    font-size: 22px;
  }

  .header-text-box {
    max-width: 90%;
  }
  .header-text-box h1 {
    font-size: 74px;
  }
  .header-text-box p {
    font-size: 18px;
    line-height: 30px;
  }

  .content-container {
    margin: 0 auto;
    max-width: 80%;
  }
  .content-container li {
    margin-bottom: 5px;
  }
}
@media (max-width: 870px) {
  .sub-menu {
    display: none;
  }

  .sub-menu-dropdown {
    display: block;
  }
}
@media (max-width: 760px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    border-bottom: solid 2px #2cc107;
  }
  .contact li, .contact a {
    padding: 5px;
  }
  .contact i {
    margin-right: 2px;
  }

  .menu-icon {
    display: inline-block;
  }

  .menu {
    display: block;
    float: left;
    padding-left: 260px;
    padding-top: 70px;
    display: none;
  }
  .menu a, .menu li {
    margin-top: 20px;
    width: 240px;
  }
  .menu a:hover, .menu a:focus, .menu li:hover, .menu li:focus {
    border: none;
  }

  section img {
    float: none;
    display: block;
    max-width: 100%;
    margin: 5px auto;
  }
}
.map {
  max-width: 90%;
  margin: 0 5%;
  margin-bottom: 50px;
  border: #2cc107 solid 2px;
}

@media (max-width: 570px) {
  .contact {
    font-size: 16px;
  }
  .contact li, .contact a {
    padding: 5px 3px;
  }

  h2 {
    font-size: 42px;
    margin: 20px;
  }

  p {
    font-size: 16px;
    line-height: 25px;
  }

  ul, ol {
    font-size: 16px;
    line-height: 30px;
  }

  .content-container {
    margin: 0 auto;
    max-width: 95%;
  }
}
@media (max-width: 470px) {
  .contact {
    font-size: 12px;
  }
  .contact li, .contact a {
    padding: 5px 1px;
  }

  .header-text-box {
    max-width: 100%;
  }
  .header-text-box h1 {
    font-size: 52px;
    letter-spacing: 5px;
    line-height: 40px;
    margin-top: -50px;
    padding-bottom: 30px;
  }
  .header-text-box p {
    font-size: 14px;
    line-height: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
