// VARIABLES
//=====================================
$text-color-paragraph: #222;
$text-color-main: #a2a2a2;
$heading-color-main: #f5ff00;
$heading-color-secondary: #2cc107;
$bg-color-main: #fff;

$font-size: 20px;
$font-family:  "Roboto", sans-serif;
