@import 'variables';
@import 'keyframes';

// GENERAL
//=====================================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color-main;
  color:$text-color-main;

  font: {
    family:$font-family;
    weight: 400;
    size: $font-size;
  }
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  list-style: none;
  color: $text-color-paragraph;
}

ol {
  list-style: decimal;
  margin: 1.5%;
  margin-bottom: 0.75%;
  color: $text-color-paragraph;
}

table {
   color: $text-color-paragraph;
   margin: auto;
}

.back_to_top {
  color: $heading-color-secondary;
  position: fixed;
  bottom: 0.5%;
  right: 5%;
  z-index: 10;
  opacity: 0.5;
  transition: opacity 0.3s;

    &:hover,
    &:focus {
      opacity: 1;
      transition: opacity 0.3s;
    }
}

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;

    img {
      margin-top: 7%;
      border: 3px solid $heading-color-secondary;
      border-radius: 0.75%;
      height: 80%;
      width: auto;
    }
}

// TYPOGRAPHY
//=========================================

h1 {
  font: {
    size: 5em;
    weight: 300;
  }
  color: $heading-color-main;
  letter-spacing: 0.1em;
  line-height: .8em;
  text-shadow: 2px 4px 2px $text-color-paragraph;
  padding-bottom: .2em;
  text-align: center;
  animation: moveFromTop 1s ease-out;

  span {
    text-transform: uppercase;
  }
}

h2 {
    font-size: 2.77778em;
    color: $heading-color-secondary;
    margin: 20px 0;
    text-align: center;
    text-shadow: 1px 2px 1px $text-color-paragraph;
    line-height: 1em;
}

h3 {
  font-size: 1.2em;
  margin: 15px 0;
  color: $heading-color-secondary;
}

h4 {
  color: $text-color-paragraph;
  margin: 20px 0;
}

h5 {
  font-size: 1em;
  margin: 15px 0;
  color: $text-color-paragraph;
}

a {
  color: $text-color-main;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

p {
  color: $text-color-paragraph;
  margin: 0 auto;
  margin-bottom: 10px;
}

// HEADER
//=============================================

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../img/theme-img.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 760px;
}

.header-text-box {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding-bottom: 50px;

  p {
    color: $text-color-main;
    font-size: 1.2em;
    line-height: 1.2em;
    max-width: 100%;
    margin-top: -50px;
    text-align: center;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 30;
  margin-top: -83px;


  a {
    font-size: 1.4em;
    margin-right: 1em;
    text-shadow: 1px 2px 1px $text-color-paragraph;

    &:hover,
    &:focus {
      color: lighten($text-color-main, 20%);
      border-bottom: 2px solid $heading-color-secondary;
      padding-bottom: .5em;
    }
  }
}

.menu-icon {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
  cursor: pointer;
  display: none;
  z-index: 100;

  &:hover,
  &focus {
    color: lighten($text-color-main, 20%);
  }

  i {
    font-size: 2.5em;
    text-shadow: 1px 2px 1px $text-color-paragraph;
  }
}

.contact {
  padding-top: 1em;
  font-size: 1.1em;
  line-height: 1.5em;
  text-shadow: 1px 2px 1px $text-color-paragraph;
  max-width: 300px;

    i {
      margin-right: 8px;
      color: $heading-color-secondary
    }

    li, a {
    list-style: none;
    padding: 5px 20px;

       &:hover,
       &:focus {
         color: lighten($text-color-main, 20%);
       }
    }
}

.sub-menu{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  padding: 10px 0;

    a, li {
      text-align: center;
      width: 25%;
      font-size: 1.15em;
      text-shadow: 1px 2px 1px $text-color-paragraph;
      animation: moveFromBottom 1s ease-out;
      list-style: none;

        &:hover,
        &:focus {
          color: lighten($text-color-main, 20%);
      }
   }
}

.sub-menu-dropdown{
  display: none;
  text-align: center;
}

.page-heading {
  margin-top: -145px;
  font-size: 1.7em;
  text-align: center;
  color: $heading-color-main;
  animation: fadeIn 2s ease-out;
  margin-bottom: 0;
}

#menu-cover {
  background: darken($heading-color-secondary,20);
  opacity: .95;
  font-size: 3em;
  line-height: 1.1em;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;

    li {
      padding: .3em 0;
      border-bottom: solid 2px $heading-color-secondary;

      &:last-child {
        border-bottom: none;
      }
    }
    a:hover,
    a:focus {
      color: lighten($text-color-main, 20%);
    }
}

//MAIN CONTENT
//================================================================

.content-container {
  margin: 0 auto;
  max-width: 65%;

    li {
      margin-bottom: 10px;
    }
}

section {
  padding: 10px;
  line-height: 35px;
  color: $text-color-main;
  max-width: 100%;
  background-color: $bg-color-main;

    img {
      max-width: 360px;
      height: auto;
      float: left;
      margin: 10px 20px;
      box-shadow: 1px 1px 10px $text-color-paragraph;
    }

    ul {
      color: $text-color-paragraph;
      list-style: disc;
      list-style: inside;
    }

    a:hover,
    a:focus {
      text-decoration: underline;
      cursor: pointer;
    }
}

section:nth-child(even) {
  background-color: darken($bg-color-main, 10%);
}

.contacts {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  td:first-child {
    font-weight: bold;
  }
}

.open-hours {

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 1.6em;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  td {
    border: 3px solid $heading-color-secondary;
    padding: 10px;

    &:first-child {
      font-weight: bold;
    }
  }
}

.partners{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  img {
    width: 260px;
  }
}

.map {
  max-width: 760px;
  margin-left: 5%;
  margin-bottom: 50px;
  border: $heading-color-secondary solid 2px;
}

//ADDS
//==============================================

.inzerat-link {
  width: 250px;
  margin: 20px 5px;
  text-align: center;
  height: 320px;
  box-shadow: 2px 3px 10px darken($heading-color-secondary, 20%);
  border-radius: 5px;
  transition: .2s;

    h3 {
      color: $text-color-paragraph;
    }

    &:hover,
    &:focus {
      background: darken($bg-color-main, 10%);
      transition: .2s;
    }
}

.adds-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 70px;
}

.detail_domu {
  font-size: 1.3em;
  margin-bottom: 20px;

  tr:nth-child(odd) {
    background: darken($bg-color-main, 10%);
  }
}

.gallery {
  width: 100%;
  margin-bottom: 30px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;

    img {
      width: 250px;
      height: auto;
      margin: 5px;
      opacity: 0.9;
      border-radius: 2px;
      box-shadow: 2px 2px 3px darken($heading-color-secondary, 20%);

      &:hover,
      &:focus {
        opacity: 1;
        transition: 0.5s;
      }
    }
}

//FOOTER
//=============================================

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/house-on-grass.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  max-height: 40vh;
  color: $text-color-main;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

   li {
     margin: 15px;
     color: $text-color-main;

     &:last-child {
       margin-bottom: 5;
     }
    }
     a:hover,
     a:focus {
      color: darken($bg-color-main, 10%);
      border-bottom: 2px solid $heading-color-secondary;
      padding-bottom: 5px;
   }
}


//MEDIA Q
//===============================================

@media(max-width: 960px){

  body{
    font-size: 1em;
  }
// .menu a {
//   font-size: 22px;
// }
//
// .contact {
//   font-size: 18px;
// }
  .sub-menu {
    width: 85%;
    a {
      font-size: 22px;
    }
  }

  .header-text-box {
    max-width: 90%;

    h1 {
      font-size: 74px;
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .content-container {
    margin: 0 auto;
    max-width: 80%;

      li {
        margin-bottom: 5px;
      }
  }
}

@media(max-width: 870px){
  .sub-menu{
    display: none;
  }
  .sub-menu-dropdown{
    display: block;
  }
}


@media(max-width: 760px) {

  .contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    border-bottom: solid 2px $heading-color-secondary;

    li, a {
      padding: 5px;
    }

    i {
      margin-right: 2px;
    }
  }

  .menu-icon {
    display: inline-block;
  }

  .menu {
      display: block;
      float: left;
      padding-left: 260px;
      padding-top: 70px;
      display: none;

      a, li {
        margin-top: 20px;
        width: 240px;

         &:hover,
         &:focus {
          border: none;
        }
    }
  }

  section img {
    float: none;
    display: block;
    max-width: 100%;
    margin: 5px auto;
  }
}

.map {
  max-width: 90%;
  margin: 0 5%;
  margin-bottom: 50px;
  border: $heading-color-secondary solid 2px;
}

@media(max-width: 570px){

  .contact{
    font-size: 16px;

    li, a {
      padding: 5px 3px;
    }
  }

  h2 {
    font-size: 42px;
    margin: 20px;
}

  p {
    font-size: 16px;
    line-height: 25px;
  }

  ul, ol {
    font-size: 16px;
    line-height: 30px;
  }

  .content-container {
    margin: 0 auto;
    max-width: 95%;
  }
}

@media(max-width: 470px){

  .contact{
    font-size: 12px;

    li, a {
      padding: 5px 1px;
    }
  }

  .header-text-box {
    max-width: 100%;
    h1 {
      font-size: 52px;
      letter-spacing: 5px ;
      line-height: 40px;
      margin-top: -50px;
      padding-bottom: 30px;
    }
    p {
      font-size: 14px;
      line-height: 30px;

    }
  }
}